<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,800" rel="stylesheet">
  <title>Perry Craft | Full time learner, part time developer?</title>
  <script src="https://use.fontawesome.com/ac8d193e09.js"></script>

</head>

<body>
<header id="top_navigation" class="clearfix">
  <%= link_to "Perry Leon Craft jr.", root_path, class: "name" %>
  <nav>
    <%= link_to "Topics of Interest", posts_path %>
    <%= link_to "Projects", projects_path %>
    <%= link_to "Contact Me", new_contact_path %>
    <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    <% else %>
          <%= link_to('Login', new_user_session_path)  %>
    <% end %>
    <!--<%= link_to('Login', new_user_session_path)  %>-->
    <!--<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>-->
    <!--<%= link_to "Sign up", new_user_registration_path %>-->
  </nav>
</header>
<% if notice %>
    <p class="notice"><%= notice %></p>
<% elsif alert %>
    <p class="alert"><%= alert %></p>
<% end %>
<%= yield %>

<footer id="main_footer">
  <p class="copyright">&copy;2017 Perry Craft</p>
  <nav>
    <a href="https://www.github.com/LjCraft12" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
    <a href="https://www.facebook.com/LjCraft1234" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/lonehondarider/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
  </nav>
</footer>

</body>
</html>
